/* General Styles */
.App {
  text-align: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  transition: background-color 0.3s, color 0.3s;
}

header {
  padding-left: 40px;
  padding-right: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--header-bg-color);
  color: var(--header-text-color);
}

button {
  cursor: pointer;
  background: none;
  border: none;
  font-size: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--button-color);
}

button:focus {
  outline: none;
}

/* Light Theme Styles */
:root {
  --header-bg-color: #40534C;
  --header-text-color: white;
  --button-color: white;
}

.App.light {
  background-color: #ffffff;
  color: #000000;
}

.App.light header {
  --header-bg-color: #40534C;
  --header-text-color: white;
}

.App.light button {
  --button-color: white;
}

/* Dark Theme Styles */
.App.dark {
  background-color: #2C3639;
  color: #ffffff;
}

.App.dark header {
  --header-bg-color: #1A3636;
  --header-text-color: white;
}

.App.dark button {
  --button-color: #ffffff;
}

/* Content Styles */
.content {
  display: flex;
  justify-content: flex-start; /* Ajustar para alinear el contenido a la izquierda */
  align-items: center;
  padding: 20px;
}

.habit-chart {
  width: 800px; 
  height: 450px; 
  margin-left: 100px;
}

.upcoming-habits {
  text-align: left;
  margin-left: 20px; 
}

.upcoming-habits h2 {
  margin-bottom: 20px;
}

.upcoming-habits ul {
  list-style-type: none;
  padding: 0;
}

.upcoming-habits li {
  margin-bottom: 10px;
}

.upcoming-habits label {
  display: flex;
  align-items: center;
}
